<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/{{ page.lang }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.data.translations['siteDescription'][page.lang] }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://iltc.io">{{ site.data.translations['home'][page.lang] }}</a>
      <a class="sidebar-nav-item{% if page.url == '/en/' or page.url =='/zh/' %} active{% endif %}" href="/{{ page.lang }}/">{{ site.data.translations['blog'][page.lang] }}</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | where:"lang", page.lang %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if page.lang == 'en' %}
        <a class="sidebar-nav-item" href="/zh/">中文</a>
      {% elsif page.lang == 'zh' %}
        <a class="sidebar-nav-item" href="/en/">English</a>
      {% endif %}
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. {{ site.data.translations['rights'][page.lang] }}</p>
  </div>
</div>
